<!DOCTYPE html>
<html>

<head>
    <title>Typing Test</title>
</head>

<body>
    <div id="app">
        <h1>Typing Test</h1>
        <h3>{{ raceSentence }}</h3>
        <input type="text" v-model="userSentence" v-bind:disabled="finishedTyping">
        <h3>Total time: {{ totalTime }}s</h3>
        <h3 v-show="highScore < 1000">Highscore: {{ highScore }}s</h3>
        <button @click="resetTest" v-if="finishedTyping">Reset Test with same sentence</button>
        <button @click="resetWithNewSentence" v-if="finishedTyping">Reset Text with new sentence</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>