* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#app h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#app h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#app input {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

#app button {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #00bcd4;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
}